{{ define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

<div class="content">
  {{ range (sort .Pages "Date" "desc") }}
    <article class="post-entry">
      {{ partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" (site.Params.cover.hidden | default site.Params.cover.hiddenInList)) }}
      <header class="entry-header">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      </header>
      <div class="entry-content">
        <p>{{ .Summary }}</p>
      </div>
      <footer class="entry-footer">
        <time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
      </footer>
      <a class="entry-link" href="{{ .Permalink }}"></a>
    </article>
  {{ end }}
</div>
{{ end }}
